*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-image: url("./BackgroundImage/home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  min-width: 100%;
  min-height: 100%;

}

.row {
  justify-content: center;
  margin: 15px 0;
}
